Repository openstack/tenks: changes, and which Zuul jobs are due for each by the changed paths.
All: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

tenks-deploy-teardown-base:
  description: 'Creates the tenks virtual machines and sets up the virtual BMC daemon.
  
    This stops short of enrolling the machines in Ironic. The cluster is
  
    then destroyed again.
  
    '
  pre-run: playbooks/tenks-deploy-teardown/pre.yml
  run: playbooks/tenks-deploy-teardown/run.yml
  ...

tenks-deploy-teardown-ovs-bios-base:
  parent: tenks-deploy-teardown-base
  vars:
    bridge_type: openvswitch
    boot_mode: bios

tenks-deploy-teardown-linuxbridge-uefi-base:
  parent: tenks-deploy-teardown-base
  vars:
    bridge_type: linuxbridge
    boot_mode: uefi

tenks-tox-ansible-lint:
  description: 'Tox job that runs ansible-lint
  
    '
  parent: openstack-tox
  vars:
    tox_envlist: alint

docs: linux bridge, supported OS distros
  doc/source/architecture.rst
  doc/source/configuration.rst
  doc/source/install.rst
Due: none

[CI] Stop overriding default python
  playbooks/tenks-deploy-teardown/templates/tenks-overrides.yml.j2
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add Debian support
  doc/source/install.rst
  requirements.txt
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[TrivialFix] Use correct project badge in README
  README.rst
Due: none

Use jinja2.pass_context instead of contextfilter
  .ansible-lint
  ansible/filter_plugins/tenks.py
  ansible/resource_wait.yml
  ansible/roles/ironic-enrolment/tasks/main.yml
  ansible/roles/veth-pair/tasks/present.yml
  ansible/roles/virtualbmc-daemon/tasks/main.yml
  releasenotes/notes/jinja-context-54bce72cab955ca0.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

CI: Removing tenks job queue
  zuul.d/project.yaml
Due: none

Use Yoga upper constraints to avoid Python version conflict
  ansible/group_vars/all
  zuul.d/jobs.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Remove Python 2 leftovers
  ansible/group_vars/all
  ansible/group_vars/hypervisors
  ansible/roles/virtualbmc-daemon/tasks/main.yml
  playbooks/tenks-deploy-teardown/pre.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Use yoga upper constraints for openstack-tox-py36
  tox.ini
Due: tenks-tox-ansible-lint

[CI] Drop Python 3.7 job. Fix ansible-lint errors.
  ansible/host_setup.yml
  ansible/hypervisor_setup.yml
  ansible/physical_network.yml
  ansible/resource_wait.yml
  ansible/roles/ironic-enrolment/tasks/main.yml
  ansible/roles/veth-pair/tasks/absent.yml
  ansible/roles/veth-pair/tasks/present.yml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add Ubuntu 22.04 Jammy support.
  ansible/roles/virtualbmc-daemon/vars/Debian.yml
  doc/source/install.rst
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Remove py2 unicode markers
  doc/source/conf.py
Due: none

remove unicode from code
  releasenotes/source/conf.py
Due: none

Fix ansible-lint errors
  .ansible-lint
  ansible/cleanup_state.yml
  ansible/deploy.yml
  ansible/flavor_registration.yml
  ansible/host_setup.yml
  ansible/node_bmc.yml
  ansible/node_enrolment.yml
  ansible/node_instantiation.yml
  ansible/node_networking.yml
  ansible/resource_wait.yml
  ansible/schedule.yml
  ansible/teardown.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: tenks-tox-ansible-lint

Add support for EL9
  ansible/host_setup.yml
  ansible/node_bmc.yml
  playbooks/openvswitch.yml
  roles/tenks-ci-prep/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Use venv instead of virtualenv
  ansible/group_vars/hypervisors
  ansible/host_setup.yml
  ansible/node_bmc.yml
  ansible/roles/virtualbmc-daemon/tasks/main.yml
  ansible/roles/virtualbmc-daemon/vars/Debian.yml
  ansible/roles/virtualbmc-daemon/vars/RedHat.yml
  playbooks/tenks-deploy-teardown/pre.yml
  roles/tenks-ci-prep/tasks/main.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[CI] Gate on CentOS Stream 9 and Rocky Linux 9
  zuul.d/project.yaml
Due: none

[CI] Remove CentOS 7 support leftovers
  playbooks/openvswitch.yml
  playbooks/tenks-deploy-teardown/templates/requirements-overrides.yml.j2
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[CI] Optimise ovs setup
  playbooks/openvswitch.yml
  playbooks/tenks-deploy-teardown/run.yml
  playbooks/tenks-deploy-teardown/tasks/ensure_openvswitch.yml
  playbooks/tenks-deploy-teardown/vars/Debian.yml
  playbooks/tenks-deploy-teardown/vars/RedHat.yml
  playbooks/tenks-deploy-teardown/vars/common.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[ansible-lint] Restore sanity
  .ansible-lint
  tox.ini
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[ansible-lint] Unignore jinja[spacing]
  .ansible-lint
  ansible/roles/ironic-enrolment/tasks/port.yml
  ansible/roles/wait-for-resources/tasks/main.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[CI] Ignore .ansible-lint in the main jobs
  zuul.d/base.yaml
Due: none

[CI] Name the Debian version
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

Use Yoga branch of Kayobe for gating CI job
  zuul.d/project.yaml
Due: none

Use Yoga branch of Kayobe for gating CI job (p2)
  zuul.d/project.yaml
Due: none

Skip more ansible-lint style checks
  .ansible-lint
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Follow ups to venv
  ansible/host_setup.yml
  ansible/roles/virtualbmc-daemon/tasks/main.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Fix CI failures
  .ansible-lint
  ansible/host_setup.yml
  ansible/hypervisor_setup.yml
  ansible/physical_network.yml
  ansible/resource_wait.yml
  ansible/roles/ironic-enrolment/tasks/main.yml
  ansible/roles/ironic-enrolment/tasks/node.yml
  ansible/roles/ironic-enrolment/tasks/port.yml
  ansible/roles/veth-pair/tasks/absent.yml
  ansible/roles/veth-pair/tasks/present.yml
  ansible/roles/virtualbmc-daemon/tasks/main.yml
  playbooks/tenks-deploy-teardown/tasks/ensure_openvswitch.yml
  playbooks/tenks-deploy-teardown/vars/Debian.yml
  playbooks/tenks-deploy-teardown/vars/RedHat.yml
  playbooks/tenks-deploy-teardown/vars/common.yml
  test-requirements.txt
  tox.ini
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add retries for get_url and package tasks
  ansible/roles/virtualbmc-daemon/tasks/main.yml
  playbooks/tenks-deploy-teardown/pre.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add Python 3.10 to supported versions
  setup.cfg
Due: tenks-tox-ansible-lint

Bump minimum Python and Ansible versions
  ansible/roles/ironic-enrolment/tasks/main.yml
  ansible/roles/ironic-enrolment/tasks/node.yml
  requirements.txt
  setup.cfg
  tests/test_tenks_wait_for_resources.py
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

CI: Remove CentOS Stream 8 jobs
  .gitreview
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Change default boot mode to UEFI
  ansible/host_vars/localhost
  doc/source/configuration.rst
  releasenotes/notes/default-uefi-126f76735950188c.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add Python 3.12 job
  setup.cfg
  zuul.d/project.yaml
Due: tenks-tox-ansible-lint

Use openstackdocstheme for release notes
  releasenotes/source/conf.py
Due: none

Update master for stable/2.0
  releasenotes/source/2.0.rst
  releasenotes/source/index.rst
Due: none

Update list of supported Linux distributions
  doc/source/install.rst
Due: none

Remove deprecated use of include
  roles/tenks-diagnostics/tasks/main.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Preserve assigned MAC on subsequent invocations
  ansible/filter_plugins/tenks.py
  releasenotes/notes/fix-issue-mac-addresses-being-regenerated-36a90e18666a2dc0.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Path conditions:
  tenks-deploy-teardown-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-deploy-teardown-ovs-bios-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-deploy-teardown-linuxbridge-uefi-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-tox-ansible-lint: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^tests/, ^zuul\.d/
