Repository openstack/tenks: changes, and which Zuul jobs are due for each by the changed paths.
All: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

tenks-deploy-teardown-base:
  description: 'Creates the tenks virtual machines and sets up the virtual BMC daemon.
  
    This stops short of enrolling the machines in Ironic. The cluster is
  
    then destroyed again.
  
    '
  pre-run: playbooks/tenks-deploy-teardown/pre.yml
  run: playbooks/tenks-deploy-teardown/run.yml
  ...

tenks-deploy-teardown-ovs-bios-base:
  parent: tenks-deploy-teardown-base
  vars:
    bridge_type: openvswitch
    boot_mode: bios

tenks-deploy-teardown-linuxbridge-uefi-base:
  parent: tenks-deploy-teardown-base
  vars:
    bridge_type: linuxbridge
    boot_mode: uefi

tenks-tox-ansible-lint:
  description: 'Tox job that runs ansible-lint
  
    '
  parent: openstack-tox
  vars:
    tox_envlist: alint

[codespell] Fixing Spelling Mistakes
  ansible/action_plugins/tenks_update_state.py
  ansible/roles/virtualbmc-domain/defaults/main.yml
  playbooks/tenks-deploy-teardown/pre.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

[codespell] Adding Tox Target for Codespell
  setup.cfg
  tox.ini
Due: tenks-tox-ansible-lint

[codespell] Adding CI target for Tox Codespell
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

CI: Use 2024.1 requirements for Python 3.8 job
  zuul.d/project.yaml
Due: none

Remove deprecated use of include
  roles/tenks-diagnostics/tasks/main.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Fix outdated tox minversion
  tox.ini
Due: tenks-tox-ansible-lint

Keep support for Python 3.9
  ansible/group_vars/all
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Modernize and fix CI
  doc/source/install.rst
  playbooks/tenks-deploy-teardown/vars/CentOS-10.yml
  playbooks/tenks-deploy-teardown/vars/CentOS-9.yml
  playbooks/tenks-deploy-teardown/vars/Rocky-9.yml
  requirements.txt
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Switch to Rocky 10 for kayobe testing
  zuul.d/project.yaml
Due: none

Support setting Ironic shard key and conductor group
  ansible/host_vars/localhost
  ansible/roles/ironic-enrolment/tasks/node.yml
  releasenotes/notes/extend-ironic-config-e4d329839f57fd01.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Removes VirtualPDU from supported emulators list
  ansible/host_vars/localhost
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

CI: move do debian trixie
  doc/source/install.rst
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

CI: add aarch64 jobs
  playbooks/tenks-deploy-teardown/templates/tenks-overrides.yml.j2
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Fix compatibility with Python 3.10
  ansible/group_vars/all
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

CI: Make aarch64 jobs experimental
  zuul.d/project.yaml
Due: none

Switch to 2026.1 upper constraints temporarily
  ansible/group_vars/all
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add Redfish support
  .gitignore
  ansible/action_plugins/tenks_update_state.py
  ansible/group_vars/hypervisors
  ansible/host_vars/localhost
  ansible/node_bmc.yml
  ansible/node_instantiation.yml
  ansible/override.yml.example
  ansible/roles/ironic-enrolment/tasks/node.yml
  ansible/roles/sushy-redfish/README.md
  ansible/roles/sushy-redfish/defaults/main.yml
  ansible/roles/sushy-redfish/tasks/main.yml
  ansible/roles/sushy-redfish/templates/sushy_emulator.conf.j2
  ansible/roles/sushy-redfish/templates/sushy_emulator.service.j2
  playbooks/tenks-deploy-teardown/templates/tenks-overrides.yml.j2
  releasenotes/notes/add-redfish-support-cc947f455c943f8c.yaml
  tests/test_tenks_update_state.py
  zuul.d/jobs.yaml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Add openstack.cloud collection to requirements
  doc/source/install.rst
  playbooks/tenks-deploy-teardown/pre.yml
  playbooks/tenks-deploy-teardown/templates/requirements-overrides.yml.j2
  requirements.yml
Due: tenks-deploy-teardown-base, tenks-deploy-teardown-ovs-bios-base, tenks-deploy-teardown-linuxbridge-uefi-base, tenks-tox-ansible-lint

Mark centos9s jobs non-voting
  zuul.d/project.yaml
Due: none

Path conditions:
  tenks-deploy-teardown-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-deploy-teardown-ovs-bios-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-deploy-teardown-linuxbridge-uefi-base: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^setup\.cfg$, ^setup\.py$, ^tenks/, ^test-requirements\.txt$, ^tests/, ^tox\.ini$, ^zuul\.d/
  tenks-tox-ansible-lint: unless all of: ^.*\.rst$, ^doc/, ^releasenotes/, ^tests/, ^zuul\.d/
